<div id="<%= dom_id user %>">

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        <strong>Name:</strong>
        <%= user.name %>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <strong>Email:</strong>
        <%= user.email %>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <strong>Phone:</strong>
        <%= user.phone %>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <strong>CPF:</strong>
        <%= user.cpf %>
      </p>
    </div>
  </div>
</div>
</div>